@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

// Define common variables
$primary-color: #ffb0ff;
$secondary-color: #41295a;
$background-dark: linear-gradient(#41295a, #2f0743);
$hover-bg-light: #55c4ff3e;
$hover-bg-dark: #41295a;
$select-green: #158631;
$low-priority: #34c759;
$med-priority: #ff9500;
$hi-priority: #ff3b30;
$font-extrasmall: 4px;
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$scrollbar-width: 4px;

.dark {
    background: $background-dark;

    h5,
    .fontSmall,
    .headerCol .modeIcon,
    textarea,
    .taskRow .task pre,
    .taskRow .reorderIcon {
        color: $primary-color !important;
    }

    textarea {
        border: 1px solid $primary-color !important;
        &::placeholder,
        &:focus {
            color: $primary-color;
        }
    }

    .headerCol .modeIcon {
        color: $primary-color !important;
    }

    .taskRow {
        &:hover {
            background: $hover-bg-dark !important;
        }
    }
}

* {
    // outline: 1px solid lightgrey;
}

.App {
    font-family: "Quicksand", sans-serif;
    transition: background 0.2s ease;
    h5 {
        font-weight: 400;
    }
    .border-bottom {
        border-bottom: 1px solid #85858586 !important;
    }
    .pointer {
        cursor: pointer;
    }

    .headerCol {
        position: relative;

        .modeIcon {
            color: $secondary-color;
            position: absolute;
            width: 20px;
            top: 4px;
            right: 8px;
        }
    }

	.strike{
		text-decoration: line-through;
	}

	.trash-can{
		transition: all .4s ease-in-out;
		&:hover{
			background-color: #80060016;
		}
	}
	
    textarea {
        font-size: $font-medium;
        background: transparent;
        border-radius: 6px;
        border: 1px solid lightgrey;
        width: 100%;
        &:focus {
            background: transparent;
            outline: none !important;
        }
    }

    Button {
        height: 25px;
        font-size: $font-small;
        width: 100%;
    }

    .buttons-section {
		.filterText{
			font-size: 14px !important;
		}
        .lowPriority {
            color: $low-priority !important;
        }
        .medPriority {
            color: $med-priority !important;
        }
        .highPriority {
            color: $hi-priority !important;
        }
        .dropdown-item:active {
            background-color: transparent !important;
        }
        .dropdown-toggle {
            border-radius: 4px;
        }
    }

    .fontSmall {
        font-size: $font-small !important;
    }

    .fontSmaller {
        font-size: $font-medium !important;
    }

    .addBtn {
        font-size: $font-small;
        width: 15px;
    }

    .taskRow {
        // transition: 0.3s ease;
        width: 100%;
        margin: 0;
		border-radius: 4px;
        .bulletIcon {
            opacity: 0.1;
            font-size: $font-extrasmall;
        }

        .task pre {
            font-family: "Quicksand", sans-serif;
            white-space: pre-wrap;
            word-wrap: break-word;
            font-size: $font-large;
            width: 100%;
        }
        .checkIcon {
            font-size: $font-medium;
            color: $select-green;
        }
    }

    .tasksListRow {
        p {
            opacity: 0.5;
        }
        max-height: 267px;
        width: 100%;
        overflow: auto;
    }
}

::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;

    &-track {
        background: #f1f1f1;
    }

    &-thumb {
        background: #888;
        border-radius: 4px;

        &:hover {
            background: #6f6f6f;
        }
    }
}
